nav{
    background:palegoldenrod;
    color:white;
    padding: 15px;
    border-color:black;
    border-radius: 10px;
}
/* .title{
    font-family: 'Cinzel', serif;
    width: 200px;
}
 .title:hover{
    color:black;
    transition: 0.4s;
    cursor: pointer;

}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color:white;
}
nav ul li{
    
    color: black;
}
nav ul li:hover{
    color:white;
    transition: 0.4s;
    cursor: pointer;
}

nav h1,ul,li{
    display: inline;
}
nav ul{
    margin-left: 40%;
}
nav li{
    padding-right: 35px;
    font-family: 'Cinzel', serif;

} */
.slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
h1{
    font-family: 'Cinzel', serif;
}
.about{
    padding: 20px;
    background: linear-gradient(white,palegoldenrod,white);
    border-radius: 9px;
    font-style: normal;
    font-family: sans-serif;
}
p{
    text-align: center;
    padding: 30px;
    font-size: 23px;

}
.interview{
    text-align: center;
    padding: 15px;
    font-family:'cinzel',serif;
    background: linear-gradient(white,white,palegoldenrod,white,palegoldenrod,white,white);
   
}
.legal{
    font-family: 'cinzel',serif;
    padding: 30px;
    text-align: center;
    background:linear-gradient(white,palegoldenrod,palegoldenrod,white);
}

section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:palegoldenrod;
    color:black;
    border-radius:10px;
    margin-top:10px;
}

a.social {
    background-color:palegoldenrod;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0 10px;
    border: #fff solid 2px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.social::before {
    content: '';
    background-color: #f0f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: 0.5s all ease-in-out;
}

a.social:hover::before {
    top: 0;
}

a.social.facebook::before {
    background-color:white;
}

a.social.twitter::before {
    background-color: white;
}




a.social.instagram::before {
    background-color:white;
}

a.social svg {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
    transition: 0.5s all ease-in-out;
}

a.social:hover svg {
    transform: rotate(360deg);
}

a.social svg path {
    fill: #383838;
    transition: 0.5s all ease-in-out;
}

a.social:hover svg path {
    fill: #fff;
}







